doctype 5
html
  head
    title= "Task Manager"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Task Manager
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    