doctype 5
html
  head
    title= "Task Manager"
    link(rel='stylesheet', href='/stylesheets/stylemain.css')
  body
    header
      h1 Task Manager
    .container
      .left-sidebar
        block leftcontent
      .right-sidebar
        block rightcontent
     